In [1]:
import pandas as pd #package for reading data
import numpy as np 
import matplotlib.pyplot as plt #package for creating plots

Import data into the notebook

In [2]:
data_folder = "drills_data/"
prices = pd.read_csv(data_folder + "prices.csv")
print(prices.describe())

               date  zipcode          rank          page           upc  \
count  2.052900e+04  20529.0  20509.000000  20509.000000  4.104000e+03
mean   1.582557e+12  78722.0      5.590424      1.010629  7.540908e+11
std    2.885633e+09      0.0      6.716571      0.111220  2.507315e+11
min    1.578772e+12  78722.0      0.000000      1.000000  3.463456e+08
25%    1.580156e+12  78722.0      0.000000      1.000000  7.177090e+11
50%    1.581537e+12  78722.0      2.000000      1.000000  8.859112e+11
75%    1.585119e+12  78722.0     11.000000      1.000000  8.859115e+11
max    1.591201e+12  78722.0     20.000000      3.000000  9.979645e+11

              price   list_price      in_stock       max_qty       arrives  \
count  19652.000000  7296.000000  14326.000000  10260.000000  7.247000e+03
mean     137.824103   162.441432      0.757294     16.291131  1.583009e+12
std      143.528278   136.005844      0.428733     11.989490  2.955275e+09
min        5.220000     7.280000      0.000000      1.000000  1.578701e+12
25%       46.400000    62.490000      1.000000     10.000000  1.580501e+12
50%       99.000000   139.000000      1.000000     12.000000  1.582142e+12
75%      178.180000   199.000000      1.000000     30.000000  1.585354e+12
max      999.000000   949.000000      1.000000     80.000000  1.593112e+12

       ...  store_price        weight       reviews        rating  \
count  ...  1242.000000  15067.000000  19463.000000  18881.000000
mean   ...    31.722697     11.925497    453.236860      4.574370
std    ...    16.385265     51.033553    880.324849      0.367959
min    ...    15.000000      0.000000      0.000000      0.000000
25%    ...    19.830000      3.540000     33.000000      4.500000
50%    ...    25.000000      5.000000    141.000000      4.600000
75%    ...    39.880000      8.350000    494.000000      4.718800
max    ...    99.000000   1150.000000   7780.000000      5.000000

          quantity1     quantity2    quantity3  quantity4  quantity5  \
count  14931.000000  1.498500e+04  2203.000000        0.0        0.0
mean     205.626080  8.408095e+04     6.425329        NaN        NaN
std     1172.193476  3.110579e+05     5.211184        NaN        NaN
min        0.000000  0.000000e+00     1.000000        NaN        NaN
25%        4.000000  0.000000e+00     2.000000        NaN        NaN
50%       10.000000  1.000000e+00     5.000000        NaN        NaN
75%       28.000000  1.526200e+04     9.000000        NaN        NaN
max    15968.000000  3.352583e+06    20.000000        NaN        NaN

                ads
count  20509.000000
mean       0.017017
std        0.129337
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

[8 rows x 23 columns]

How many total drills observations are in the data?

In [4]:
len(prices) + 1

20530

In [56]:
# concatenate model and manufacturer
prices['label'] = prices['manufacturer'].astype(str) + " " + prices['model']

How many unique drills (i.e. no duplicate entries) for each of the vendors

In [57]:
prices.groupby('platform')['label'].nunique()

platform
AMZN    250
HD      173
LOW     218
WMT     144
Name: label, dtype: int64

What it the drill with the highest number of observation for each of the vendors?

In [58]:
new = prices.filter(['platform', 'label'])
new['obs'] = ""
new.groupby(['platform', 'label'], as_index=False)['obs'].count().sort_values('obs', ascending=False)\
            .drop_duplicates('platform')

    platform                 label  obs
713      WMT  Hyper Tough AQ75034G  153
376       HD     Milwaukee 2997-22  133
488      LOW       DEWALT DCD771C2  119
40      AMZN   BLACK+DECKER DR260C  116

What it the drill with the second highest number of observation for each of the vendors?

In [59]:
new.groupby(['platform', 'label'], as_index=False)['obs'].count().sort_values('obs', ascending=False)\
.drop_duplicates('obs').groupby('platform').nth([1])

                         label  obs
platform
AMZN         Milwaukee 2997-22  112
HD         Milwaukee 2892-22CT  131
LOW       BLACK+DECKER LDX120C  117
WMT       Hyper Tough AQ75023G  149

What is the average number observations for each drill? How does this vary by vendor?

In [60]:
new.groupby(['label'], as_index=False)['obs'].count()

                                                 label  obs
0                                   ACDelco ARD12126S1  102
1    ACDelco ARD847 Li-Ion 8-volt Super Compact Dri...   26
2                            Amazon Renewed 11255VSRRT   53
3                            Amazon Renewed 2691-22-cr   25
4                            Amazon Renewed 6335-02-cr    1
..                                                 ...  ...
460                                       nan PCC621LB   36
461                                       nan PCC641LB   23
462                                         nan PS22BN    1
463                                       nan WH18DGLM    3
464                                       nan XC602000    1

[465 rows x 2 columns]

In [62]:
new.groupby(['label', 'platform'], as_index=False)['obs'].count().sort_values("platform")

                                            label platform  obs
0                              ACDelco ARD12126S1     AMZN   50
425  HYCHIKA BETTER TOOLS FOR BETTER LIFE CK-18BC     AMZN   12
420                                  HART HPDD50B     AMZN   47
417                                 HART HPCK202B     AMZN    4
415                               Genesis GCD18BK     AMZN    2
..                                            ...      ...  ...
625                                  SKIL 6445-04      WMT  141
43                        BLACK+DECKER BD2KITCDDI      WMT   10
391                                DEWALT DWD115K      WMT    1
678                                   WORX WX176L      WMT   89
380                                 DEWALT DW235G      WMT    1

[785 rows x 3 columns]